{{ template "header.html" . }}
<div class="container" id="index">
  <div class="jumbotron">
    <h1>Bouquins</h1>
    <p>Cette bibliothèque contient actuellement <strong>{{ .BooksCount }}</strong> livres et BD en format papier ou électronique.</p>
    <button class="btn btn-primary" type="button" @click="showBooks">Livres</button>
    <button class="btn btn-primary" type="button" @click="showAuthors">Auteurs</button>
    <button class="btn btn-primary" type="button" @click="showSeries">Series</button>
  </div>
  <div class="table-responsive">
    <paginate :page="page" :more="more"></paginate>
    <results :results="results" :cols="cols" :sort_by="sort_by" :order_desc="order_desc"></results>
    <paginate :page="page" :more="more"></paginate>
  </div>
</div>
{{ template "components.html" }}
{{ template "footer.html" . }}
