{{ template "header.html" . }}
<div class="container" id="provider">
  <div class="jumbotron">
    <h1>Connexion</h1>
    <p>Pour vous connecter, vous devez disposer d'un compte et vous authentifier chez un des fournisseurs ci-dessous. En cliquant sur un fournisseur, vous allez être redirigé vers une page d'authentification de ce fournisseur.</p>
{{ range .Providers }}
    <!-- TODO icon -->
    <a class="btn btn-default btn-lg" role="button" href="/login?provider={{ .Name }}">{{ if .Icon }}<span class="providericon {{ .Icon }}"></span>&nbsp;{{ end }}{{ .Label }}</a>
{{ end }}
  </ul>
</div>
{{ template "footer.html" . }}
